/* Updated CSS for responsiveness and style */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  padding-top: 20px;
}

h3 {
  color: #37517e;
}

.card {
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #37517e;
}

.card-footer {
  background-color: #f9f9f9;
  border-top: none;
}

@media (min-width: 576px) {
  .card {
    border: none;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 768px) {
  .card {
    border: none;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 992px) {
  .card {
    border: none;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 1200px) {
  .card {
    border: none;
    transition: transform 0.3s ease;
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: linear-gradient(135deg, #37517e, #3a7bd5); /* Gradient background */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /* Footer styles */
  .footer {
    background-color: #37517e;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  /* Adjusted footer text size */
  .footer p {
    font-size: 14px;
  }