body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centered-text {
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: linear-gradient(135deg, #37517e, #3a7bd5); /* Gradient background */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /* Footer styles */
  .footer {
    background-color: #37517e;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  /* Adjusted footer text size */
  .footer p {
    font-size: 14px;
  }